body{
    background-color: aqua;
}
.col-md-4{
    background-color: red;
}

.requestsfort td{
    background-color: white;
    padding-bottom: 30px;
    padding-right: 10px;
}

/* Tables to hold the textfields and their labels */
.fields_table{
    width: 100%;
}
.fields_table td{
    padding-bottom: 20px;
/*    text-align: center;*/
}
.fields_table td label{
    text-align: center;
}

.basic-info-row{
    padding: 20px 5px 20px 5px;
    border-top: black solid 2px;
}
.numberfield{
    width: 40px;
}

/* Text styles */
.subheaders{
	text-decoration: underline;
	font-style: italic;
}

.coolbullets li{
	list-style-type: lower-greek;
}

textarea{
	font-family: sans-serif;
}
#header{
	background-color: darkgray;
	padding-left: 20px;
}
            input{
                border-radius: 4px;
            }

/* Header components */
#header{
	background-color: darkgray;
	padding-left: 20px;
}